.ContactDataSummary {
  width: 91.666%;
  max-width: 600px;
  margin: 2rem auto;
  border-radius: 2px;
  padding: 64px;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(75, 75, 75, 0.14),
    0 1px 7px 0 rgba(75, 75, 75, 0.12),
    0 3px 1px -1px rgba(75, 75, 75, 0.2);
}

.ContactDataSummary > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ContactDataSummary > form > div {
  height: 45rem;
  width: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0 16px;
}

.ContactDataSummary > form > button {
  margin: 3rem auto 0 !important;
  width: 83.333%;
  max-width: 200px;
}