.ContactDataSummary {
  width: 91.666%;
  max-width: 600px;
  margin: 2rem auto;
  border-radius: 2px;
  padding: 64px;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(75, 75, 75, 0.14),
    0 1px 7px 0 rgba(75, 75, 75, 0.12),
    0 3px 1px -1px rgba(75, 75, 75, 0.2);
  animation: opacity .75s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.ContactDataSummary > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ContactDataSummary > form > div {
  height: 45rem;
  width: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0 16px;
}

.ContactDataSummary > form > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ContactDataSummary > form > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ff1744;
  animation: opacity 1.2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.ContactDataSummary > form > ul > li > span {
  font-weight: 400;
  color: #222;
}

.ContactDataSummary > form > button {
  margin: 3rem auto 0 !important;
  width: 83.333%;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem !important;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}