.ProductReviews {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 64px;
  height: 60rem;
  width: 100%;
  background-color: #f5f5f5;
}

.ProductReviews > .Reviews {
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  border-bottom: 1px solid #2222;
}

.Reviews > .Review {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 64px);
  margin-bottom: 3rem;
}

.Reviews > div:last-child {
  margin-bottom: 0;
}

.Reviews > .Review > .ReviewData,
.Reviews > .Review > .Comment {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.Reviews > .Review > .ReviewData {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 32.5%;
}

.Reviews > .Review > .ReviewData > span {
  transform: scale(.75);
  width: 100%;
  margin-left: -.8rem;
}

.Reviews > .Review > .Comment {
  width: 62.5%;
  padding: 32px;
}

.Reviews > .Review > .Comment > p {
  font-family: 'Tajawal', sans-serif;
  font-size: 1.25rem;
  width: 100%;
  min-height: 2.5rem;
}

.Reviews > .Review > .Comment > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(.5);
  width: 64px;
  height: 64px;
  border-radius: 50% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.Reviews > .Review > .Comment > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 1px;
}

.PostReview {
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.PostReview > form {
  width: calc(100% - 64px);
  padding: 0 16px;
}

.PostReview > form > div:first-child {
  height: 10rem;
}

.PostReview > form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 5rem;
}

.PostReview > form > div:first-child > div > textarea,
.PostReview > form > div:first-child > div {
  height: 7rem;
  margin-top: 0 !important; 
}

.PostReview > form > div:first-child > div > textarea {
  padding: 8px !important;
  background-color: #fff;
}

.PostReview > form > div > span {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.33rem;
  font-weight: 500;
}

.PostReview > form > div > div {
  width: calc(100% - 200px);
}

.PostReview > form > button {
  width: 125px;
  margin: 1rem 0 0 0 !important;
}

.Rating {
  position: absolute;
  margin-left: calc(-100% + 564px);
  unicode-bidi: bidi-override;
  direction: rtl;
}

.Rating > span {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.7rem;
  margin: 0 .25rem;
  color: #bdbdbd;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s 150ms;
}

.Rating > span:hover:before,
.Rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: #ffea00;
}