.Toolbar {
  display: none;
}

@media screen and (min-width: 700px) {
  .Toolbar {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 6rem;
    z-index: 1500;
    background-color: #212121;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .5s 100ms !important;
  }
  
  .Toolbar h5 {
    letter-spacing: 1px;
    color: #f5f5f5;
  }
  
  .Toolbar h4 {
    color: #f5f5f5;
  }
  
  .Toolbar h2 {
    letter-spacing: 5px;
    color: #ff5252;
  }

  .Nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
}