.ProductDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 32px;
  width: calc(100% - 64px);
  min-height: 100vh;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(75, 75, 75, 0.14),
    0 3px 1px -2px rgba(75, 75, 75, 0.12),
    0 1px 5px 0 rgba(75, 75, 75, 0.2);
}

.ProductDetailHead {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 32px;
}

.ProductImg {
  width: 450px;
  height: 700px;
  padding: 16px;
  transition: all ease-in-out 1s;
}

.ProductImg > .ImgContainer {
  width: 100%;
  min-height: 530px;
  max-height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  border-radius: 2px;
}

.ActiveImg {
  width: 100%;
  height: auto;
  margin: auto 0;
  transition: all ease-in-out 1s; 
}

.InactiveImg {
  display: flex;
  height: 200px;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.InactiveImg > .ImgContainer {
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2222;
  border-radius: 2px;
  background-color: #f5f5f5;
  box-shadow: 0 3px 3px 0 rgba(125, 125, 125, 0.14), 
    0 1px 7px 0 rgba(125, 125, 125, 0.12), 
    0 3px 1px -1px rgba(125, 125, 125, 0.2);
  opacity: 1;
  transition: all ease-in-out 1s;
}

.ImgContainer > .ActiveImgThumb {
  height: 100%;
  border: 1px solid #ff1744;
}

.InactiveImg > .ImgContainer:last-child > img {
  height: 100%;
  cursor: pointer;
}

.ProductInfo {
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}

.Routes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  user-select: none;
}

.Routes > li {
  margin: 0 1rem;
  color: #80d8ff;
  opacity: .75;
  font-weight: 500;
}

.Routes > li:not(:first-child) {
  list-style: disc outside;
}

.Routes > li > span {
  color: #2226;
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .33s 150ms;
}

.Routes > li > span:hover {
  color: #222;
}

.ProductInfoHead {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  user-select: none;
  text-align: left;
}

.ProductInfoHead > p {
  font-family: 'Dosis', sans-serif;
  font-size: 1.75rem;
  opacity: .75;
}

.Price {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.Price > span {
  font-size: 2.1rem;
  color: #ff1744;
  font-weight: 500;
}

.Price > span.DiscountedPrice {
  font-size: 1.4rem;
  text-decoration-line: line-through;
  font-weight: 100;
  opacity: .75;
}

.ProductInfoActions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

.Attributes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 450px;
  margin: 2rem;
}

.Attributes > span {
  font-size: 1.5rem;
}

.Attributes > .Colors,
.Attributes > .Sizes {
  width: 100%;
  margin: 1rem auto;
}

.Attributes > .Colors::after,
.Attributes > .Sizes::after {
  clear: both;
  display: table;
  content: "";
}

.Attributes > .Colors > .ColorItem,
.Attributes > .Sizes > .SizeItem,
.Attributes .Selected {
  float: left;
  box-sizing: border-box;
  margin: .75rem;
  padding: 4px;
  background-color: #f5f5f5;
  transition: all cubic-bezier(0.23, 1, 0.320, 1) .33s 150ms;
  cursor: pointer;
}

.Attributes > .Colors > .ColorItem:hover,
.Attributes > .Sizes > .SizeItem:hover {
  background-color: #eeeeee;
  transform: scale(1.05);
  box-shadow: 0 3px 3px 0 rgba(75, 75, 75, 0.14),
    0 1px 7px 0 rgba(75, 75, 75, 0.12), 
    0 3px 1px -1px rgba(75, 75, 75, 0.2);
}

.Attributes > .Colors > .ColorItem,
.Attributes > .Colors > .Selected {
  border: 1px solid #2222;
  border-radius: 50%;
}

.Attributes > .Colors > .Selected {
  transform: scale(1.05);
  box-shadow: 0 4px 5px 0 rgba(75, 75, 75, 0.14),
    0 1px 10px 0 rgba(75, 75, 75, 0.12),
    0 2px 4px -1px rgba(75, 75, 75, 0.3);
}

.Attributes > .Sizes > .Selected {
  transform: scale(1.05);
  box-shadow: 0 4px 5px 0 rgba(75, 75, 75, 0.14),
    0 1px 10px 0 rgba(75, 75, 75, 0.12),
    0 2px 4px -1px rgba(75, 75, 75, 0.3);
    background-color: #ff1744;
    color: #f5f5f5;
}

.Attributes > .Colors > .ColorItem > div,
.Attributes > .Colors > .Selected > div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.Attributes > .Sizes > .SizeItem,
.Attributes > .Sizes > .Selected {
  border: 1px solid #2222;
  width: 64px;
  padding: 6px;
  text-align: center;
  font-weight: 500;
  border-radius: 2px;
}

.Quantity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  margin: 2rem;
  font-size: 1.5rem;
}

.QuantityContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.QuantityContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(.5);
}

.QuantityContainer > div button {
  height: 64px !important;
  border-radius: 50% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.QuantityContainer > span {
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 30px;
  background-color: #f5f5f5;
  border: 1px solid #2222;
}

.Actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.Actions > .AddCart,
.Actions > .AddFavorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.Actions > .AddCart > button {
  padding: 12px !important;
  font-size: 1.2rem !important;
  width: 200px;
}

.Actions > .AddFavorite > button {
  padding: 0px !important;
  font-size: 1rem !important;
  color: #222 !important;
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Actions > .AddFavorite > button:hover,
.Actions > .AddFavorite > button:active,
.Actions > .AddFavorite > button:focus {
  background-color: transparent !important;
}



.ProductReviews {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 64px;
  height: 60rem;
  width: 100%;
  background-color: #f5f5f5;
}

.ProductReviews > .Reviews {
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  border-bottom: 1px solid #2222;
}

.Reviews > .Review {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 64px);
  margin-bottom: 3rem;
}

.Reviews > div:last-child {
  margin-bottom: 0;
}

.Reviews > .Review > .ReviewData,
.Reviews > .Review > .Comment {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.Reviews > .Review > .ReviewData {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 32.5%;
}

.Reviews > .Review > .ReviewData > span {
  transform: scale(.75);
  width: 100%;
  margin-left: -.8rem;
}

.Reviews > .Review > .Comment {
  width: 62.5%;
  padding: 32px;
}

.Reviews > .Review > .Comment > p {
  font-family: 'Tajawal', sans-serif;
  font-size: 1.25rem;
  width: 100%;
  min-height: 2.5rem;
}

.Reviews > .Review > .Comment > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(.5);
  width: 64px;
  height: 64px;
  border-radius: 50% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.Reviews > .Review > .Comment > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 1px;
}

.PostReview {
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.PostReview > form {
  width: calc(100% - 64px);
  padding: 0 16px;
}

.PostReview > form > div:first-child {
  height: 10rem;
}

.PostReview > form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 5rem;
}

.PostReview > form > div:first-child > div > textarea,
.PostReview > form > div:first-child > div {
  height: 7rem;
  margin-top: 0 !important; 
}

.PostReview > form > div:first-child > div > textarea {
  padding: 8px !important;
  background-color: #fff;
}

.PostReview > form > div > span {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.33rem;
  font-weight: 500;
}

.PostReview > form > div > div {
  width: calc(100% - 200px);
}

.PostReview > form > button {
  width: 125px;
  margin: 1rem 0 0 0 !important;
}

.Rating {
  position: absolute;
  left: -470px;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.Rating > span {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.7rem;
  margin: 0 .25rem;
  color: #bdbdbd;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s 150ms;
}

.Rating > span:hover:before,
.Rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: #ffea00;
}




/* ANIMATIONS CLASSES */
.In {
  animation: in cubic-bezier(0.755, 0.05, 0.855, 0.06) .5s forwards;
}

.Out {
  animation: out cubic-bezier(0.23, 1, 0.320, 1) .5s backwards;
}

.FadeIn {
  animation: fadeIn cubic-bezier(0.755, 0.05, 0.855, 0.06) .5s forwards;
}

.FadeOut {
  animation: fadeOut cubic-bezier(0.23, 1, 0.320, 1) .5s backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.1)
  }
  50% {
    transform: scale(1)
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(.1);
  }
  50% {
    opacity: 0;
    transform: scale(1)
  }
  100% {
    opacity: 1;
  }
}

@keyframes in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}