.Footer {
  bottom: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 24px 24px;
  background-color: #f5f5f5;
}

.Subscription {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  top: 0;
}

.Subscription > p,
.Subscription > .Subs {
  width: 100%;
}

.Subscription > .Subs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Subscription > .Subs > div {
  width: 66.66%;
}

.Subscription > .Subs > button {
  width: 33.33%;
}

.Container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.License {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Query > li:first-child {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: 'Tajawal', sans-serif;
}

.Query > li:not(:first-child),
.License > li:not(:first-child) {
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.Query > li:not(:first-child):hover,
.License > li:not(:first-child):hover {
  letter-spacing: 1px;
}

.License > li:first-child {
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Tajawal', sans-serif;
}

.License > li:not(:first-child) {
  opacity: .6;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .Subscription {
    flex-direction: row;
  }
  
  .Subscription > p,
  .Subscription > .Subs {
    width: 50%;
  }

  .Subscription > .Subs {
    flex-direction: row;
  }

  .Subscription > .Subs > div {
    width: 75%;
  }

  .Subscription > .Subs > button {
    width: 25%;
  }

  .License {
    width: 300px;
    justify-content: space-between;
    margin: 1rem auto;
  }
}