.Search {
  background-color: #434343 !important;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2.83rem;
  width: 215px;
  max-width: 250px;
  margin: 0 auto;
}

.Search > button {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  height: 2.83rem;
  border-radius: 25px 0 0 25px !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #757575;
  border: 2px solid #757575;
  color: #f5f5f59a;
  width: 3.15rem !important;
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1.15) .5s 150ms !important;
}

.Search > button:disabled {
  border: 2px solid #434343;
}

.Search > button:hover {
  color: #f5f5f5;
  background-color: #434343;
  border: 2px solid transparent;
  border-left: 2px solid #757575;
  border-bottom: 2px solid #757575;
  border-top: 2px solid #757575;
}

.Search > button > span {
  display: flex;
  align-items: center;
  height: 2.8rem;
  margin-top: -1px !important;
}

.Search > div {
  margin: 0 !important;
  height: 2.83rem;
  display: flex;
  align-items: center;
}

.Search > div > input {
  border: 2px solid transparent !important;
  border-left: none !important;
  border-radius: 0 25px 25px 0!important;
  color: #f5f5f5 !important;
  background-color: #434343 !important;
  user-select: none;
  outline: none;
  text-align: center;
  height: 36px !important;
}

.Search > div > input::placeholder {
  color: #f5f5f5b6 !important;
}

.Search > div > input:focus {
  border: 2px solid #757575 !important;
  border-left: none !important;
  box-shadow: none !important;
}

@media screen and (min-width: 750px) {
  .Search {
    height: 50%;
    margin: 1rem;
  }

  .Search > div > input {
    height: 38px !important;
  }
}