.Input input,
.Input select,
.Input textarea {
  margin: 2rem auto !important;
  padding: 0 8px !important;
  font-family: 'Tajawal', sans-serif;
}

.Input textarea {
  margin: 4.5rem auto 2rem !important;
}

.Input label[for="additionalInfo"] {
  margin: 1rem 0 !important;
}

.Input input::placeholder,
.Input select::placeholder,
.Input textarea::placeholder {
  color: #424242b6;
}

.Input input:focus,
.Input select:focus,
.Input textarea:focus {
  border-bottom: 1px solid #424242;
  box-shadow: 0 1px 1px 0 #424242;
}

.Input input:focus + label,
.Input select:focus + label,
.Input textarea:focus + label {
  color: #424242 !important;
}

.Input label {
  color: #212121;
  margin: 0 0 1rem !important;
}

.Invalid {
  border-bottom: 1px solid #d50000 !important;
  box-shadow: 0 2px 1px #d500007e !important;
}

.Invalid:focus {
  border-bottom: 1px solid #d50000 !important;
  box-shadow: 0 2px 2px #d50000a8 !important;
}

.ErrorMsg {
  color: #d50000;
  margin: -1.75rem 0 1rem;
  float: left;
}

.ErrorMsg > div {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}